body{
    margin: 0;
}
/*header*/
header{
    width: 100%;
    box-shadow: 0 0 5px;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 2;
}
.title{
    font-size: 150%;
    display: inline-block;
    vertical-align: middle;
}
header > div > button{
    margin: auto;
    background: transparent;
    outline: none;
    vertical-align: middle;
    border: none;
    font-size: 120%;
    color: dimgray;
    cursor: pointer;
    transition: 0.2s;
}
header > div > button:hover{ opacity: 0.6; }
header > div > img:hover{ transform: rotateY(180deg); }

main{
    width: 100%;
    min-height: 100vh;
}
.mdiv {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.mdiv > p {
    color: dimgray;
    font-size: 140%;
}
.mdiv > p > input {
    outline: none;
    color: black;
    font-size: 120%;
    border: none;
    border-bottom: 1px solid silver;
    transition: 0.4s;
}
.mdiv > p > input:focus { border-bottom: 1px solid dodgerblue; }
.mdiv > p > button {
    background-color: dodgerblue;
    color: white;
    font-size: 100%;
    outline: none;
    border: solid 1px cornflowerblue;
    border-radius: 3px;
    cursor: pointer;
    padding: 8px 16px;
}
.mdiv > p > button:hover{ background-color: rgb(30, 173, 255);}

@media screen and (min-width:769px){
    /*header*/
    header > div{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        color: dimgray;
        display: flex;
    }
    header > div > img{ width: 5vh; height: 5vh; vertical-align: middle; margin: auto; transition: 1s;}


    /*main*/
    main > div{
        margin-top: calc(10vh + 2%);
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-device-width:480px) and (orientation: portrait){
    /*header*/
    header > div{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        color: dimgray;
        display: flex;
    }
    header > div > img{ width: 3vh; height: 3vh; vertical-align: middle; margin: auto; transition: 1s;}
    
}