body{
    margin: 0;
}
/*header*/
header{
    width: 100%;
    box-shadow: 0 0 5px;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 2;
}
.title{
    font-size: 150%;
    display: inline-block;
    vertical-align: middle;
}
header > div > button{
    margin: auto;
    background: transparent;
    outline: none;
    vertical-align: middle;
    border: none;
    font-size: 120%;
    color: dimgray;
    cursor: pointer;
    transition: 0.2s;
}
header > div > button:hover{ opacity: 0.6; }
header > div > img:hover{ transform: rotateY(180deg); }


main{
    width: 100%;
    min-height: 100vh;
}
.imgsSlide > img{ width: 100%; height: 50vh; border-radius: 5px; transition: 0.4s;}
.Gallery > img { width: 25%; border-radius: 5px; height: 15vh; cursor: pointer;}
.text{
    margin-top: 5%;
}
.titleText{
    color: dimgray;
    font-size: 170%;
    text-align: center;
}

.description{
    color: dimgray;
    font-size: 130%;
    animation: show 1s steps(30, end);
    font-style: italic;
}
@keyframes show{
    from {opacity: 0;}
    to {opacity: 1;}
}

.our{ color: dimgray; font-size: 170%; }
.newS, .modS{ font-size: 150%; }
.newS > li , .modS > li{ color: dodgerblue; }
.newS > li > span, .modS > li > span { color: dimgray; }
.panels > div{ display: flex; margin-left: auto; margin-right: auto; }
.netShop, .vizit, .catalog, .coop, .updtDisgn, .chngStruct, .updtCont, .addFunc{ 
    margin: auto; 
    width: 50%; 
    text-align: center; 
    cursor: pointer; 
    transition: 0.3s;
}
.netShop > img, .vizit > img, .catalog > img, .coop > img, .updtDisgn > img, .chngStruct > img, .updtCont > img,
.addFunc > img{
    width: 35vh;
    border-radius: 5px;
}
.titleSite{
    color: dimgray;
    font-size: 150%;
    font-style: italic;
}


footer{
    width: 100%;
    text-align: center;
    box-shadow: 0 0 5px;
    color: dimgray;
}
.policy{
    font-size: 130%;
    cursor: pointer;
}
.phone, .email{ font-size: 130%; }
.cpright{
    margin-bottom: 0;
}
@media screen and (min-width:769px){
    /*header*/
    header > div{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        color: dimgray;
        display: flex;
    }
    header > div > img{ width: 5vh; height: 5vh; vertical-align: middle; margin: auto; transition: 1s;}

    /*main*/
    main > div{
        margin-top: calc(10vh + 2%);
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .netShop:hover, .vizit:hover, .catalog:hover, .coop:hover, .updtDisgn:hover, .chngStruct:hover, .updtCont:hover,
    .addFunc:hover{
        transform: scale(1.1); 
    }

    /*footer*/
    footer > div > img{
        width: 10vh;
        height: 10vh;
        animation: puls 2s infinite;
    }
    @keyframes puls {
        from { transform: scale(0.7); }
        50% { transform: scale(1); }
        to { transform: scale(0.7); }
    }
}


@media screen and (max-device-width:480px) and (orientation: portrait){

}