body{
    margin: 0;
}
/*header*/
header{
    width: 100%;
    box-shadow: 0 0 5px;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 2;
}
.title{
    font-size: 150%;
    display: inline-block;
    vertical-align: middle;
    color: dimgray;
}
header > div > button{
    margin: auto;
    background: transparent;
    outline: none;
    vertical-align: middle;
    border: none;
    font-size: 120%;
    color: dimgray;
    cursor: pointer;
    transition: 0.2s;
}
header > div > button:hover{ opacity: 0.6; }
header > div > #exit { display: none; }
header > div > img:hover{ transform: rotateY(180deg); }


main{
    width: 100%;
    min-height: 100vh;
}
.headmdiv{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.headmdiv > img{ border-radius: 5px; }
.headmdiv > p{
    color: dimgray;
    font-size: 120%;
    font-style: italic;
}
#titleMain, #price, #newPrice{
    font-size: 150%;
    font-style: normal;
}
#newPrice { color: orangered; }
.mainmdiv {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.mainmdiv > #questions {
    text-align: center;
    color: dodgerblue;
    font-style: italic;
    font-size: 150%;
}
.mainmdiv > #err, #msg { color: dodgerblue; font-size: 150%; }
.mainmdiv > #msg { display: none; }

#common, #modify { display: none; }
#common > p, #modify > p {
    color: dimgray;
    font-size: 150%;
}
#common > input, #modify > input {
    border: none;
    border-bottom: 1px solid silver;
    color: black;
    font-size: 120%;
    outline: none;
    font-style: italic;
    transition: 0.4s;
    text-align: center;
}
#common > input:focus, #modify > input:focus { border-bottom: 1px solid dodgerblue; }
#common > textarea, #modify > textarea {
    color: black;
    font-size: 120%;
    outline: none;
    font-style: italic;
    transition: 0.4s;
}
#common > textarea:focus, #modify > textarea:focus { border: 1px solid dodgerblue; }

.mainmdiv > p > button {
    background-color: dodgerblue;
    color: white;
    font-size: 130%;
    outline: none;
    border: solid 1px cornflowerblue;
    border-radius: 3px;
    cursor: pointer;
    padding: 8px 16px;
}
.mainmdiv > p > button:hover{ background-color: rgb(30, 173, 255);}

footer{
    margin-top: 2%;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 5px;
    color: dimgray;
}
footer > div > p > a {text-decoration: none; color: dodgerblue;}
footer > div > p > a:hover {color: orangered;}
.policy{
    font-size: 130%;
    cursor: pointer;
}
.phone, .email{ font-size: 130%; }
.cpright{
    margin-bottom: 0;
}

@media screen and (min-width:769px){
    /*header*/
    header > div{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        color: dimgray;
        display: flex;
    }
    header > div > img{ width: 5vh; height: 5vh; vertical-align: middle; margin: auto; transition: 1s;}

    /*main*/
    main > div{
        margin-top: calc(10vh + 2%);
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .headmdiv > img{
        width: 50%;
    }

    /*footer*/
    footer > div > img{
        width: 10vh;
        height: 10vh;
        animation: puls 2s infinite;
    }
    @keyframes puls {
        from { transform: scale(0.7); }
        50% { transform: scale(1); }
        to { transform: scale(0.7); }
    }
}
@media screen and (max-device-width:480px) and (orientation: portrait) {
    /*header*/
    header > div{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        color: dimgray;
        display: flex;
    }
    header > div > img{ width: 3vh; height: 3vh; vertical-align: middle; margin: auto; transition: 1s;}

    /*footer*/
    footer > div > img{
        width: 3vh;
        height: 3vh;
        animation: puls 2s infinite;
    }
    @keyframes puls {
        from { transform: scale(0.7); }
        50% { transform: scale(1); }
        to { transform: scale(0.7); }
    }
}